delarship/settings.py
finance/migrations/*
apifinance/migrations/*
apiauth/migrations/*
apihrm/migrations/*
appauth/migrations/*
hrm/migrations/*
sales/migrations/*
apisales/migrations/*
delar/migrations/*
apidelar/migrations/*
ecom/migrations/*
apiecom/migrations/*