{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
EMI Receive | {{ application_title }}
{% endblock %}

{% block body %}

<div class="row">
	<div class="col-lg-12">
		<div class="card card-fluid">
			<div class="card-body">
				<div>
					<form method="post" id="tran_table_data" data-url="{% url 'sales-emircv-insert' %}"
						class="update-form">
						<div class="form-group">
							<div class="card">
								<div class="card-body">
									<div class="form-row">
										<div class="form-item col-md-10 mb-0">
											<h3 class="card-title">EMI Receive</h3>
										</div>
									</div>
									<div>
										{% csrf_token %}
										<div class="form-row">
											<div class="form-item col-md-3 mb-0">
												{{ form.account_number|as_crispy_field }}
											</div> 
											<div class="form-item col-md-3 mb-0">
												{{ form.emi_reference_no|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.receive_amount|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.receive_date|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.number_of_installment|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.paid_installment_number|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.total_emi_amount|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.total_emi_payment|as_crispy_field }}
											</div>
											<div class="form-item col-md-3 mb-0">
												{{ form.total_emi_due|as_crispy_field }}
											</div>
										</div>
										<button type="button" id="btnAddItem" class="btn btn-primary">EMI
											Receive</button>
										<button type="button" id="btnSearch" class="btn btn-info pull-right"> Search
											EMI</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="app">

		<div class="card card-fluid">
			<div class="card-body">
				<table id="dt-table-list" class="table dt-responsive nowrap w-100">
					<thead>
						<tr>
							<th>Branch Code</th>
							<th>Client Account</th>
							<th>Invoice Number</th>
							<th>Installment Date</th>
							<th>Installment Serial</th>
							<th>Installment Amount</th>
							<th>Document Number</th>
							<th>Action </th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Branch Code</th>
							<th>Client Account</th>
							<th>Invoice Number</th>
							<th>Installment Date</th>
							<th>Installment Serial</th>
							<th>Installment Amount</th>
							<th>Document Number</th>
							<th>Action </th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	{% if S160091 %}
	<div class="modal fade" id="edit_model" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>
	{% endif %}
	{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/common-parameter-details.js' %}"></script>
	
	<script src="{% static 'assets/javascript/pages/sales/sales-emircv-createlist.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/sales/sales-accounts-search.js' %}"></script>
	{% endblock %}
	</body>