{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
EMI Receive History | {{ application_title }}
{% endblock %}

{% block body %}

<body>
	<div class="app">
		<div class="page">

			<div class="card card-fluid">
				<div class="card-body">
					<div class="form-group">
						<div class="card card-fluid">
							<div class="card-body">
								<h4 class="card-title">Search EMI Receive History</h4>
								<form>
									<div class="form-row">
										{% if is_head_office_user %}
										<div class="form-group col-md-3 mb-0">
											{{ form.branch_code | as_crispy_field }}
										</div>
										{% else %}
										<input type='hidden' id='id_branch_code' name='branch_code' value={{
											global_branch_code }} readonly>
										{% endif %}
										<div class="form-item col-md-3 mb-0">
											{{ form.account_number|as_crispy_field }}
										</div>
										<div class="form-item col-md-3 mb-0">
											{{ form.emi_reference_no|as_crispy_field }}
										</div>
										<div class="form-item col-md-3 mb-0">
											{{ form.from_date|as_crispy_field }}
										</div>
										<div class="form-item col-md-3 mb-0">
											{{ form.upto_date|as_crispy_field }}
										</div>
									</div>
									<button type="button" id="btnSearch" class="btn btn-primary"> Search
										EMI Receive</button>
								</form>

							</div>
						</div>
					</div>


					<header class="card-title-bar">
						<h3 class="card-title text-center"> EMI Receive History Details</h3>
					</header>

					<div class="card card-fluid">
						<div class="card-body">
							<table id="dt-table-list" class="table dt-responsive nowrap w-100">
								<thead>
									<tr>
										<th>Branch Code</th>
										<th>Client Account</th>
										<th>Invoice Number</th>
										<th>EMI Rate</th>
										<th>Installment Amount</th>
										<th>Receive Date</th>
										<th>Receive Amount</th>
										<th>Due Installment</th>
										<th>Paid Installment</th>
										<th>Overdue Installment</th>
										<th>Advance Installment</th>
										<th>Outstanding Amount</th>
										<th>Investment Outstanding</th>
										<th>Profit Outstanding</th>
										<th>Total Receive</th>
										<th>Investment Receive</th>
										<th>Profit Receive</th>
										<th>Advance Amount</th>
										<th>Investment Advance</th>
										<th>Profit Advance</th>
										<th>Due Amount</th>
										<th>Investment Due</th>
										<th>Profit Due</th>
										<th>Overdue Amount</th>
										<th>Investment Overdue</th>
										<th>Profit Overdue</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Branch Code</th>
										<th>Client Account</th>
										<th>Invoice Number</th>
										<th>EMI Rate</th>
										<th>Installment Amount</th>
										<th>Receive Date</th>
										<th>Receive Amount</th>
										<th>Due Installment</th>
										<th>Paid Installment</th>
										<th>Overdue Installment</th>
										<th>Advance Installment</th>
										<th>Outstanding Amount</th>
										<th>Investment Outstanding</th>
										<th>Profit Outstanding</th>
										<th>Total Receive</th>
										<th>Investment Receive</th>
										<th>Profit Receive</th>
										<th>Advance Amount</th>
										<th>Investment Advance</th>
										<th>Profit Advance</th>
										<th>Due Amount</th>
										<th>Investment Due</th>
										<th>Profit Due</th>
										<th>Overdue Amount</th>
										<th>Investment Overdue</th>
										<th>Profit Overdue</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>


				<div class="modal fade" id="view_details" role="dialog">
					<div class="modal-dialog modal-xl">
						<div class="modal-content">
							<h5 class="modal-title text-center">EMI Receive Details</h5>
							<div class="modal-header text-center">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="table-responsive">
								<table id="data_table_details"
									class="table table-striped table-hover table-bordered table-sm">
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>

	<script src="{% static 'assets/javascript/pages/common-parameter-details.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/sales/sales-emihist-list.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/sales/sales-accounts-search.js' %}"></script>
	{% endblock %}
</body>