{% extends 'appauth/appauth-home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Product List | Sales ERP
{% endblock %}

{% block body %}

<body>
  <div class="app">
    <div class="page">

      <div class="card card-fluid">
        <div class="card-body">
          <div class="form-group">
            <div class="card card-fluid">
              <div class="card-body">
                <h4 class="card-title"> Product List </h4>
                <form>
                  <div class="form-row">
                    {% if is_head_office_user %}
                    <div class="form-group col-md-3 mb-0">
                      {{ form.branch_code | as_crispy_field }}
                    </div>
                    {% else %}
                    <input type='hidden' id='id_branch_code' name='branch_code' value={{ global_branch_code }} readonly>
                    {% endif %}
                    <div class="form-group col-md-3 mb-0">
                      {{ form.product_name | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ form.product_model | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ form.group_id | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ form.brand_id | as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                      {{ form.product_bar_code | as_crispy_field }}
                    </div>
                  </div>
                  <div class>
                    <button type="button" id="btnSearch" class="btn btn-primary"> Search Products</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <header class="card-title-bar">
            <h3 class="card-title text-center"> Product Details</h3>
          </header>
          <div class="card card-fluid">
            <div class="card-body">
              <table id="dt-table-list" class="table dt-responsive nowrap w-100">
                <thead>
                  <tr>
                    <th> Product Name </th>
                    <th> Product Model </th>
                    <th> Stock Available</th>
                    <th> Sales Price </th>
                    <th> EMI Price </th>
                    <th> Wholesale Price </th>
                    <th> Discount Type </th>
                    <th> Percent </th>
                    <th> Maximum Amount </th>
                    <th> Minimum Amount</th>
                    <th> From Date </th>
                    <th> Upto Date </th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th> Product Name </th>
                    <th> Product Model </th>
                    <th> Stock Available</th>
                    <th> Sales Price </th>
                    <th> EMI Price </th>
                    <th> Wholesale Price </th>
                    <th> Discount Type </th>
                    <th> Percent </th>
                    <th> Maximum Amount </th>
                    <th> Minimum Amount</th>
                    <th> From Date </th>
                    <th> Upto Date </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit_model" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
  </div>

  {% endblock body %}

  {% block js %}
  <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
  <script src="{% static 'assets/javascript/pages/common-parameter-details.js' %}"></script>

  <script src="{% static 'assets/javascript/pages/sales/sales-products-list.js' %}"></script>
  {% endblock %}
</body>